html, body {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
body {
  color: #222222;
  background-color: #ffffff;
  font-family: sans-serif;
}
p {
  font-size: 0.8em;
}
#root {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  cursor: crosshair;
}
#root .float {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  /*bottom: 0px;*/
}
#root p.float {
  font-family: DejaVu Sans Mono, monospace;
  background: #ffffff;
  color: #111111;
  border: 2px dashed #CCCCCC;
  text-align: left;
  font-size: 1.0em;
  margin: 2.0em 8em;
  padding: 0.8em;
  animation: cssAnimation 3s forwards;
}
#root p.float:hover {
  animation-play-state: paused;
  background: #ffffee;
  border: 2px solid #888888;
  opacity: 0.95;
}

#root.capture-mode img.output {
  border: 3px solid #444444;
}
#root.capture-mode canvas {
  border: 3px solid #11ff11;
}

@keyframes cssAnimation {
  00%  {opacity: 0.1;}
  30%  {opacity: 0.6;}
  75%  {opacity: 0.6;}
  80%  {opacity: 0.7;}
  85%  {opacity: 0.6;}
  90%  {opacity: 0.8;}
  100% {opacity: 0.0; display: none;}
}
